<script>
		(() => {
			window.D2L = window.D2L || {};
			window.D2L.PolymerMixins = window.D2L.PolymerMixins || {};
			window.D2L.PolymerMixins.Activity = window.D2L.PolymerMixins.Activity || {};
			window.D2L.PolymerMixins.Activity.Card = window.D2L.PolymerMixins.Activity.Card || {};

			window.D2L.PolymerMixins.Activity.Card.LangFr = {
				'onMyList': 'ON MY LIST-FR',
				'complete': 'COMPLETE-FR',
				'inProgress': 'IN PROGRESS-FR',
				'overdue': 'OVERDUE-FR',
				'minutes': 'Minutes-FR',
			}
		})();
	</script>
