<script>
		(() => {
			window.D2L = window.D2L || {};
			window.D2L.PolymerMixins = window.D2L.PolymerMixins || {};
			window.D2L.PolymerMixins.Activity = window.D2L.PolymerMixins.Activity || {};
			window.D2L.PolymerMixins.Activity.Card = window.D2L.PolymerMixins.Activity.Card || {};

			window.D2L.PolymerMixins.Activity.Card.LangTr = {
				'onMyList': 'ON MY LIST',
				'complete': 'COMPLETE',
				'inProgress': 'IN PROGRESS',
				'overdue': 'OVERDUE',
				'minutes': 'Minutes',
			}
		})();
	</script>
