<link rel="import" href="../../../polymer/polymer-element.html">
<link rel="import" href="../../../d2l-localize-behavior/d2l-localize-behavior.html">
<link rel="import" href="lang/ar.html">
<link rel="import" href="lang/de.html">
<link rel="import" href="lang/en.html">
<link rel="import" href="lang/es.html">
<link rel="import" href="lang/fi.html">
<link rel="import" href="lang/fr.html">
<link rel="import" href="lang/ja.html">
<link rel="import" href="lang/ko.html">
<link rel="import" href="lang/nl.html">
<link rel="import" href="lang/pt.html">
<link rel="import" href="lang/sv.html">
<link rel="import" href="lang/tr.html">
<link rel="import" href="lang/zh-tw.html">
<link rel="import" href="lang/zh.html">

<script>
	window.D2L = window.D2L || {};
	window.D2L.PolymerMixins = window.D2L.PolymerMixins || {};
	window.D2L.PolymerMixins.Activity = window.D2L.PolymerMixins.Activity || {};
	window.D2L.PolymerMixins.Activity.Card = window.D2L.PolymerMixins.Activity.Card || {};

    const LocalizeMixin = (superClass) =>
    	class extends Polymer.mixinBehaviors([D2L.PolymerBehaviors.LocalizeBehavior], superClass) {
        	static get properties() {
				return {
					locale: {
						type: String,
						value: function() {
							return document.documentElement.lang
								|| document.documentElement.getAttribute('data-lang-default')
								|| 'en-us';
						}
					},
					resources: {
						value: () => {
							return {
								'en': D2L.PolymerMixins.Activity.Card.LangEn,
								'ar': D2L.PolymerMixins.Activity.Card.LangAr,
								'de': D2L.PolymerMixins.Activity.Card.LangDe,
								'es': D2L.PolymerMixins.Activity.Card.LangEs,
								'fi': D2L.PolymerMixins.Activity.Card.LangFi,
								'fr': D2L.PolymerMixins.Activity.Card.LangFr,
								'ja': D2L.PolymerMixins.Activity.Card.LangJa,
								'ko': D2L.PolymerMixins.Activity.Card.LangKo,
								'nl': D2L.PolymerMixins.Activity.Card.LangNl,
								'pt': D2L.PolymerMixins.Activity.Card.LangPt,
								'sv': D2L.PolymerMixins.Activity.Card.LangSv,
								'tr': D2L.PolymerMixins.Activity.Card.LangTr,
								'zh': D2L.PolymerMixins.Activity.Card.LangZh,
								'zh-tw': D2L.PolymerMixins.Activity.Card.LangZhtw
							};
						},
					},
				};
			}
		};

    window.D2L.PolymerMixins.Activity.Card.LocalizeMixin = Polymer.dedupingMixin(LocalizeMixin);
</script>
